#root {
  max-width: 1800px;
  margin: 0 auto;
  text-align: center;
}

@font-face {
  font-family: "Bauhaus";   /*Can be any text*/
  src: local("ITC Bauhaus"),
    url("./fonts/ITC_Bauhaus_Medium.otf") format("truetype");
}
